---
---

@import "{{ site.theme }}";

body {
    font-family: "Calibri",sans-serif;
    font-size: 11.0pt;
    color: #201f1e;
}

.project-name {
    font-family: 'Lato', 'lato', arial, helvetica;
}

.page-header {
    background-color: #13589b;
    background-image: none;
}

.main-content p {
    margin-bottom: 0;
}

.main-content h1 {
    color: #13579a;
}

.main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #0070C0;
}

@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    padding: 0;
    height: 50px;
    overflow: hidden;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 12px 15px 15px 15px;
    font-size: 18px;
    line-height: 20px;
    max-width: 350px;
}
.navbar-brand>img {
    display: block;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
